@media (min-width: 992px) {
  h3 {
    color: black;
    padding: 25px;
    font-family: "Courier New", Courier, monospace;
  }

  img {
    width: 300px;
    height: 300px;
    margin: 0px 50px 0px 0px;
  }
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }
  p {
    color: black;
    font-size: 28px;
    font-family: "Courier New", Courier, monospace;
  }
  button {
    background-color: black;
    color: white;
    font-size: 12px;
    height: 50px;
    width: 200px;
    font-family: "Courier New", Courier, monospace;
    border-color: white;
  }
  body {
    background-color: skyblue;
  }
}
